* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 300;
}

main {
  margin: 50px 100px;
  width: 50%;
  float: left;
}

aside {
  margin-top: 80px;
  margin-left: 5%;
  width: 20%;
  float: left;
}

main .user {
  margin: 30px;
  padding: 20px;
  background-color: #3e8fa0;
  max-width: 30rem;
  border-radius: 8px;
}

main .delete-icon {
  float: right;
  color: #134b57;
  cursor: pointer;
  transform: scale(2);
}

main .edit-icon {
  float: right;
  margin-right: 25px;
  color: #165664;
  cursor: pointer;
  transform: scale(2);
}

main .delete-icon:hover,
main .edit-icon:hover {
  opacity: 0.5;
}

form input:not([type="checkbox"]),
form button,
form textarea {
  width: 90%;
  padding: 15px 5%;
  font-family: Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  border: 0;
  background: #222;
  color: #fff;
  outline: none;
  font-size: 15px;
}

form input[type="checkbox"] {
  margin: 10px;
}

form button {
  background-color: #3e8fa0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 300ms ease, transform 200ms ease;
  cursor: pointer;
  width: 100%;
  width: 227px;
}

form button:hover {
  transform: scale(1.1);
}

.user form {
  margin-top: 20px;
}

.user form input,
.user form button,
.user form textarea {
  background-color: #134b57;
}

.user form button:hover {
  transform: scale(1.01);
}

.add-photo {
  font-size: 13px;
  background-color: #3e8fa0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 300ms ease, transform 200ms ease;
}

.add-photo:hover {
  background-color: #165664;
  transform: scale(1.05);
}
